@font-face{
    font-family: 'Poppins';
    src: url("../fonts//Poppins-Regular.ttf") format('truetype');
}

@font-face{
    font-family: 'Poppins-Bold';
    src: url("../fonts//Poppins-Bold.ttf") format('truetype');
}

@font-face{
    font-family: 'Schabo';
    src: url("../fonts//schabo.woff") format('truetype');
}

.tools-dropdown-menu {
    display: none;
    position: relative
}

.tools-dropdown-menu.show {
    display: block;
}

.tools-dropdown {
    background-color: #1b2939;
    border: 2px solid #203145;
}

#mobmenuBtn:active {
    background-color: #1b2939;
}

.mob-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
    display: none;
}

.container{
	max-width: 960px;
	margin: auto;
	width: 100%;
}

@media (max-width: 550px){
	.tools-dropdown-menu{
        display: none;
	}
    .tools-dropdown {
        display: none;
    }
    #mobmenuBtn {
        display: block;
    }
    .mob-switch {
        display: block;
    }
    #mob-dark-mode-toggle{
      display: block;  
    }
    nav ul {
        display: none;
    }
    nav {
        padding: .3rem 0;
    }
    .tool {
        width: 5rem;
        height: 4rem;
    }
    .mobTools-menu{
        /* width: 30rem; */
        grid-template-columns: repeat(1, 1fr);
	}
    .home-hero h1 {
        font-size: 40px;
        text-align: start;
        line-height: 3rem;
    }
    .home-hero p {
        text-align: start;
    }
    .hero-btns {
        text-align: start;
    }
    .home-tool-feature {
        grid-template-columns: repeat(1, 1fr);
    }
    .home-tool-feature img {
        width: 60%;
        margin: 2rem 0;
    }
    #drop-area {
        padding: 3rem;
    }
}

.dropbtn {
    background-color: #42ad47;
    color: rgb(201, 19, 19);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1e9e9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: rgb(209, 46, 46);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0e0f63;
  }

/* Signup Page */

.container{
	max-width: 960px;
	margin: auto;
	width: 100%;
}

.signup-content, .login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-form, .login-form {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 100%;
}

.signup-form label[for]:after {
  content: " *";
  color: red;
}

.signup-form h1 {
  text-align: center;
}

.signup-form, .login-form {
  background-color: #1b2939;
  border: 2px solid #1b2939;
}

.signup-form input{
  background-color: #121e2a;
  border: 2px solid #203145;
  color: #fff;
}

.signup-content, .login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-form label[for]:after {
  content: " *";
  color: red;
}

.signup-form h1 {
  text-align: center;
}

.signup-form input:focus {
  border: 3px solid #3760d4;
}

.signup-form, .login-form {
  background-color: #1b2939;
  border: 2px solid #1b2939;
}

.signup-form input{
  background-color: #121e2a;
  border: 2px solid #203145;
  color: #fff;
}

.signup-form div {
  margin: 1rem 0;
}
